
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    min-height: 100vh;
    width : 100% ;
    display: grid;
    grid-template-columns: 1fr -1fr ;

}


section{
    display: flex;
    justify-content: center;
    align-items: center;

}

.choose-container{
    max-width: 450px;
    padding:24px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    text-transform: uppercase;
    font-size: 3em ;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    }

.separetor{
    width: 150px;
    height: 4px;
    background-color: #CF951B;
    margin: 24px;
}
.welc-msg{
    text-align: center;
    font-size: 1.1em;
    line-height: 20px;
    margin-bottom: 30px;
    color: #696969;

}
.songs{

    width: 100%;
    display: flex;
    flex-direction: column;

}
.songs-control{
    width: 100%;
    position: relative;
    margin-bottom: 24px;
}
input ,
button{

    border: none;
    outline: none;
    background-color: #CF951B;
    border-radius: 30px;
    font-size: 1.1em;

}
input{
   
    letter-spacing: 0.5px;
    padding: 14px 50px;
    background: #e6e6e6e6;
    color: #696969;
    
}

input ~i{
    color: #696969;
    position: absolute;
    top: 50%;
    left:20px ;
    transform: translateY(-50%);
    transition: color 0.4s;
}

input:focus ~i{
    color: #CF951B;
}

button.submit{
    color: #fff;
    padding: 14px 50px;
    margin: 32px  auto;
    letter-spacing: 2px;
    font-weight: bold;
    background-image: linear-gradient(to right , #CF951B ,#3b2900  );
    cursor: pointer;
    transition: opacity 0.4s;
}

button.submit:hover{
    opacity: 0.9;
}

@media (max-width:780px) {

    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}